@import 'resets';
@import 'variables';

body {
  @include contentDirection(column);
  background: col('very-dark-blue-bg');
}

main {
  @include contentDirection(column);

  .content-div {
    .top-nav-div {
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px;

      .main-heading-div {
        h1 {
          // white mode col
          color: col('white-txt');
        }
        p {
          margin-top: 5px;
          // white mode col
          color: col('desaturated-blue-txt');
          font-weight: weight('bold');
        }
      }

      .toggle-theme-btn {
        background: transparent;
        @include centerContent();
        gap: 20px;

        .dark-theme-text {
          font-weight: weight('bold');
          // dark mode col
          color: col('white-txt');
        }

        .button {
          background: col('toggle');
          height: 30px;
          width: 60px;
          border-radius: 100px;
          cursor: pointer;
          position: relative;
          transition: 0.2s;

          // For toggle btn
          &::before {
            position: absolute;
            content: '';
            // dark mode col
            background: col('very-dark-blue-top-bg-pattern');
            width: 23px;
            height: 23px;
            border-radius: 100px;
            margin: 4px;
            transition: 0.2s;
          }
        }

        // When input will be checked toggle background will become gray
        input:checked + .button {
          background: col('toggle-circle');
        }
        // When input will be checked toggle btn will become white
        input:checked + .button::before {
          transform: translateX(27px);
          background: col('white-txt');
        }
        input {
          display: none;
        }
      }
    }

    // Top cards on page
    .dashboard-top-overview {
      @include centerContent();
      gap: 30px;

      .instagram-special {
        background: col('instagram');
        padding-top: 5px;
        border-radius: 10px;
        cursor: pointer;
      }

      .card {
        max-width: 300px;

        // dark mode col
        @include sameProperties(
          col('dark-desaturated-blue-card-bg'),
          col('desaturated-blue-txt'),
          col('white-txt'),
          col('desaturated-blue-txt')
        );

        border-radius: 10px;
      }
      .fb {
        border-top: 5px solid col('facebook');
      }
      .twitter {
        border-top: 5px solid col('twitter');
      }
      .yt {
        border-top: 5px solid col('youtube');
      }
    }
  }
  .heading-2 {
    display: flex;
    align-items: start;
    width: 100%;

    margin-top: 40px;
    // dark mode col
    color: col('white-txt');
  }
  .wrapper {
    .first-portion {
      @include portionMixin;
      margin-top: 20px;

      // These colors will be changed after backgound changes to white theme
      @include bottomCard(
        col('dark-desaturated-blue-card-bg'),
        col('desaturated-blue-txt'),
        col('white-txt')
      );
    }
    .second-portion {
      @extend .first-portion;
      margin-top: 30px;
    }
  }
}

@mixin theme($light-theme: true) {
  @if $light-theme {
    main {
      .content-div {
        .top-nav-div {
          .main-heading-div {
            h1 {
              color: col('very-dark-blue-txt');
            }
            p {
              color: col('dark-grayish-blue-txt');
            }
          }
          .toggle-theme-btn {
            .dark-theme-text {
              color: col('desaturated-blue-txt');
            }
          }
        }
      }
      .hidden {
        background: col('dark-grayish-blue-txt');
        border: 1px solid col('dark-grayish-blue-txt');
      }
      .dashboard-top-overview {
        .card {
          @include sameProperties(
            col('light-grayish-blue-card-bg'),
            col('dark-grayish-blue-txt'),
            col('very-dark-blue-txt'),
            col('dark-grayish-blue-txt')
          );
          &:hover {
            background: darken(col('light-grayish-blue-card-bg'), 5%);
          }
        }
      }
      .heading-2 {
        color: col('dark-grayish-blue-txt');
      }
      .wrapper {
        .first-portion {
          @include bottomCard(
            col('light-grayish-blue-card-bg'),
            col('dark-grayish-blue-txt'),
            col('very-dark-blue-txt')
          );
          .bottom-card {
            &:hover {
              background: darken(col('light-grayish-blue-card-bg'), 5%);
            }
          }
        }
        .second-portion {
          @extend .first-portion;
        }
      }
    }
  }
}

.white-mode {
  background: col('white-bg');

  @include theme($light-theme: true);
}

// What did I used in this project since last learning session.
///////////////////////////////////////////////////////////////
// Mixin eg. 2. Aka mixin declarations
// @extend rule

.hidden {
  display: none;
}

.more-pain-with-flex {
  @extend .dashboard-top-overview;
  // flex-direction: column;
}

.struggle-of-flexbox {
  // display: flex;
  @extend .dashboard-top-overview;
  // flex-direction: column;
}

@media (max-width: $tablet-view) {
  body {
    height: 100%;
  }
  .top-nav-div {
    margin-top: 30px;
  }
  .struggle-of-flexbox {
    // display: flex;
    @include centerContent();
    gap: 30px;
    flex-direction: column;
  }
  .wrapper {
    display: flex;
    gap: 30px;
    .first-portion {
      flex-direction: column;
      margin-top: 21px;
    }
    .second-portion {
      flex-direction: column;
    }
  }
}

@media (max-width: $mobile-view) {
  main {
    .content-div {
      .top-nav-div {
        display: flex;
        flex-direction: column;

        hr {
          margin-top: 30px;
        }

        .toggle-theme-btn {
          justify-content: space-between;
          margin-top: 30px;
        }
      }

      .dashboard-top-overview {
        .more-pain-with-flex {
          .struggle-of-flexbox {
            .card {
              min-width: 377.177px;
            }
          }
        }
      }
    }
  }
  .hidden {
    display: block;
    background: col('dark-desaturated-blue-card-bg');
    border: 1px solid col('dark-desaturated-blue-card-bg');
    border-radius: 5px;
  }
  .more-pain-with-flex {
    @include centerContent();
    gap: 30px;

    flex-direction: column;
  }
  .wrapper {
    display: flex;
    gap: 10px;
    flex-direction: column;
    .first-portion {
      flex-direction: column;
      margin-top: 20px;
      width: 377.177px;
    }
    .second-portion {
      flex-direction: column;
      width: 377.177px;
    }
  }
}

.hidden-br {
  display: none;
}

@media (max-width: $small-screen-view) {
  main {
    .content-div {
      .top-nav-div {
        display: flex;
        flex-direction: column;

        .main-heading-div {
          h1 {
            .hidden-br {
              display: block;
            }
          }
        }

        hr {
          margin-top: 30px;
        }

        .toggle-theme-btn {
          justify-content: space-between;
          margin-top: 30px;
        }
      }

      .dashboard-top-overview {
        .more-pain-with-flex {
          .struggle-of-flexbox {
            .card {
              min-width: 200px;
            }
          }
        }
      }
    }
  }
  .hidden {
    display: block;
    background: col('dark-desaturated-blue-card-bg');
    border: 1px solid col('dark-desaturated-blue-card-bg');
    border-radius: 5px;
  }
  .more-pain-with-flex {
    @include centerContent();
    gap: 30px;

    flex-direction: column;
  }
  .wrapper {
    @include centerContent();
    display: flex;
    gap: 10px;
    flex-direction: column;
    .first-portion {
      @include centerContent();
      flex-direction: column;
      margin-top: 20px;
      width: 200px;
    }
    .second-portion {
      @include centerContent();
      flex-direction: column;
      width: 200px;
    }
  }
}
